.movie {width: 100%; background-color: #191e24; height: 600px; margin-top: 20px;}
.imgMovie {}
.imgMovie img {width: 100%; height: 450px;}
.about {padding: 15px;}
.title {color: #fff; text-align: center; font-size: 30px;}
.rating {color: #c49135; text-align: center; font-size: 30px;}
.rating img {vertical-align:central;}